{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <div class="container">
        <div class="jumbotron">
              <p>This is the Index Page using Class based views!</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>



<!--
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">


            <br>
            <!-- first row
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body">
                        <h2>Karthik J</h2>
                        <img class="img-thumbnail" src="{% static 'images/myimage.jpg' %}" alt="Not loaded!">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body">
                        <h3>Projects</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quae officia pariatur rerum debitis, beatae cupiditate numquam incidunt sequi nobis qui quaerat libero magni esse ut eveniet corrupti? Provident deserunt consequuntur debitis fugiat praesentium atque delectus qui ab inventore iste!Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti exercitationem aut vitae optio eveniet quaerat soluta? Aliquam officiis, quibusdam voluptatem cumque in dicta officia quidem, harum aspernatur nisi doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fuga excepturi, ipsa nisi vero similique facere atque. Facilis sint tempora corrupti tempore explicabo vel suscipit voluptas quos tenetur pariatur quia numquam soluta esse beatae ratione, eum corporis nisi eveniet commodi quas ea repellat possimus? Fuga cumque iste earum nostrum laudantium.
                        </p>
                    </div>
                </div>
            </div>



            <br>
            <!-- second row
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-body">
                        <h3>Qualifications</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quidem molestias nihil rem quae nobis non quis atque cupiditate recusandae ducimus, dolor exercitationem sapiente, culpa voluptas deleniti, repellendus eligendi accusantium.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-body">
                        <h3>Experience</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, esse unde ex quos provident mollitia, expedita sapiente, ipsum blanditiis commodi corrupti error enim quibusdam exercitationem.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-body">
                        <h3>Skills</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores illum eveniet voluptatibus alias laudantium doloremque voluptates culpa possimus veniam. Illo atque voluptas praesentium omnis quia soluta, exercitationem amet recusandae. Debitis commodi dolorum esse.</p>
                    </div>
                </div>
            </div>


            <br>
            <!-- third row
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">
                        <h3>Achievements</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum odit nisi pariatur molestias, blanditiis laboriosam velit commodi magnam nam nesciunt optio, minus alias voluptates? Corrupti quam explicabo recusandae ex iure!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body">
                        <h3>Contact</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi totam odio harum ipsa. Tempore ex explicabo voluptatum tenetur illum! Omnis ad voluptate consequatur cum, perspiciatis laudantium exercitationem, optio deserunt animi sapiente fugiat iusto eos aperiam magni cumque, qui eaque non? Odit dolorum quae enim ut debitis porro facilis, molestiae vel incidunt, fugiat maiores quam beatae asperiores sapiente ducimus cumque.</p>
                    </div>
                </div>
            </div>
            <br>
            




        </div>
    </div>
</body>
</html> -->


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>This is generated using the TemplateViews from django, class based views, 'CVB'!!!</h3>
</body>
</html> -->


